<main>
  <section class="content">
    <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis neque sed odio.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <small>09 de Julho de 2021</small>
    <img src="../../../assets/img/movies/Vidas-ao-Vento-Naoko 1.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in mauris vel
      dolor consectetur scelerisque quis eu eros. Morbi varius eu odio nec vehicula.
      Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna molestie. Fusce
      efficitur ipsum ullamcorper tellus pharetra, et vehicula enim feugiat. Sed scelerisque
      at orci rhoncus dapibus. Donec maximus porttitor mauris. Sed tempus felis sit amet gravida sagittis.
      Ut eleifend ornare leo et auctor.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in mauris vel
      dolor consectetur scelerisque quis eu eros. Morbi varius eu odio nec vehicula.
      Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna molestie. Fusce
      efficitur ipsum ullamcorper tellus pharetra, et vehicula enim feugiat. Sed scelerisque
      at orci rhoncus dapibus. Donec maximus porttitor mauris. Sed tempus felis sit amet gravida sagittis.
      Ut eleifend ornare leo et auctor.
    </p>
    <img src="../../../assets/img/movies/vidas1 1.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in mauris vel
      dolor consectetur scelerisque quis eu eros. Morbi varius eu odio nec vehicula.
      Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna molestie. Fusce
      efficitur ipsum ullamcorper tellus pharetra, et vehicula enim feugiat. Sed scelerisque
      at orci rhoncus dapibus. Donec maximus porttitor mauris. Sed tempus felis sit amet gravida sagittis.
      Ut eleifend ornare leo et auctor.
    </p>
  </section>

  <section>
    <app-bottom-news></app-bottom-news>
  </section>
</main>
